@model Core.DTOs.Timbrados.TimbradosAddViewModel
<div class="m-content" style="width: 50%">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Agregar Timbrado
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" id="form" data-bind="submit: postDataToController">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Nro Timbrado
							</label>
							<input type="text" class="form-control m-input" id="nroTimbrado" name="nroTimbrado" data-bind="value: nroTimbrado">
							<span class="alert-danger"></span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Fecha Inicio
							</label>
							<input value="" class="form-control datepicker" style="width: 100% !important;" data-bind="datepicker: fechaInicio, datepickerOptions: {language: 'es'}">
							<span class="alert-danger"></span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Fecha Fin
							</label>
							<input value="" class="form-control datepicker" style="width: 100% !important;" data-bind="datepicker: fechaFin, datepickerOptions: {language: 'es'}">
							<span class="alert-danger"></span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Nro Inicio
							</label>
							<input type="text" class="form-control m-input" id="nombre" name="nroInicio" data-bind="value: nroInicio">
							<span class="alert-danger"></span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Nro Fin
							</label>
							<input type="text" class="form-control m-input" id="nombre" name="nroFin" data-bind="value: nroFin">
							<span class="alert-danger"></span>
						</div>


						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Sucursales
							</label>
							<select class="form-control m-input m-input--square" id="sucursalId" name="sucursalId" data-bind="options: sucursales,
                                           optionsValue: 'value',
                                           optionsText: 'text',
                                           value: sucursalId,
                                           optionsCaption: 'Seleccione una opcion'"></select>
						</div>
						<!-- ko if: sucursalId()  != undefined  -->
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Cajas
							</label>
							<select class="form-control m-input m-input--square" id="cajaId" name="cajaId" data-bind="options: dataViewModel.sucursalId() == undefined ? dataViewModel.cajas() : $.grep(dataViewModel.cajas(), function (item) { return item.additionalInt() === sucursalId(); }),
                                           optionsValue: 'value',
                                           optionsText: 'text',
                                           value: cajaId,
                                           optionsCaption: 'Seleccione una opcion'"></select>
						</div>
						<!-- /ko -->
					</div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>

                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        dataViewModel.postDataToController = function () {

            if (!$("#form").valid()) return;

            $.ajax({
                url: "@Url.Action("Save", "Timbrados")",
                type: "POST",
                data: { model: ko.toJSON(dataViewModel) },
                success: function (response) {
                    if (response.success) {
                        showSuccessAndGoToUrl(response.message, '@Url.Action("Index", "Timbrados", new { area = "Platform"})');
                    } else {
                        showError(response.message);
                    }
                },
                error: function () {
                    showError();
                }
            });
            return false;
        }
        ko.applyBindings(dataViewModel);


        $('#form').validate({
            rules: {
                nroTimbrado: {
                    required: true,
                    number: true,
                    min: 1
                },
                nroInicio: {
                    required: true,
                    number: true,
                    min: 1
                },
                nroFin: {
                    required: true,
                    number: true,
                    min: 1
                },
                puntoExpedicion: {
                    required: true,
                    number: true,
                    min: 1
                },
                sucursalId: { required: true },
                cajaId: {required: true}
            },
            errorPlacement: function (error, element) {
                var span = element.siblings('span');
                error.appendTo(span);
            }
        });
    </script>
}