<!--begin::Modal-->
<div class="modal fade" id="addPagoVentaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Pago
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label" >
                            Monto Total:
                        </label>
                        <input type="text" class="form-control" id="pagoVentaMontoTotal" data-bind="value: montoTotal" readonly>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Importe:
                        </label>
                        <input type="text" class="form-control" id="pagoVentaMonto" data-bind="value: pagoVenta.monto">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Cambio:
                        </label>
                        <input type="text" class="form-control" id="pagoVentaCambio" data-bind="value: pagoVenta.cambio" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" data-bind="click: postDataToController">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
