<!--DOC: Apply "modal-cached" class after "modal" class to enable ajax content caching-->
<div class="modal fade" id="addVentaCuotasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document" style="min-height: 600px; min-width: 600px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Agregar Cuotas
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
				<iframe id="addVentaCuotasIframe" src="" style="border:0; height: 300px" width="100%;"></iframe>
			</div>
		</div>
	</div>
</div>
<!-- /.modal -->